<h1 class="p-title">{{fa-icon icon="info-circle" fixedWidth=true}} Info</h1>
<div>
  <span class="p-key">Host:</span>
  <span class="p-value">{{details.headers.Host}}</span>
</div>
<div>
  <span class="p-key">Origin:</span>
  <span class="p-value red-text">{{details.origin}}</span>
</div>
<div>
  <span class="p-key">URL:</span>
  <span class="p-value">{{details.url}}</span>
</div>
<div>
  <span class="p-key">Accept:</span>
  <span class="p-value red-text">{{details.headers.Accept}}</span>
</div>

<button {{action "incrementCounter"}} class="mt-2">Click Me!</button>
{{#if message}}
  <div class="mt-1">
      {{message}}
  </div>
{{/if}}